<h1>Add Services</h1>
<form [formGroup]="add" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="serviceName">ServiceName </label>
      <input type="text" formControlName="serviceName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.serviceName.errors }" />
      <div *ngIf="submitted && f.serviceName.errors" class="invalid-feedback">
        <div *ngIf="f.serviceName.errors.required">ServiceName is required</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="price">Price</label>
      <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
        <div *ngIf="f.price.errors.required">Price is required</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="status">
        Status
      </label>
      <div class="form-group">
      <select class="form-select form-select-lg mb-3" formControlName="status">
        <option>Yes</option>
        <option>No</option>     
      </select>
    </div>
    </div>
    </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
    <a routerLink="/services" class="btn btn-link">Cancel</a>
  </div>
</form>
